*{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

.warning{
    display: block;
    position: relative;
    text-align: center;
    font-size: 2rem;
}

.warning img{
    width: 7rem;
    margin: 1rem;
}

.post-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px 300px;
    grid-gap: 5px;
    overflow: hidden;
}

.post-list a{
    text-decoration: none;
}

.post-list .list-item{
    width: 100%;
    position: relative;
    overflow: hidden;
}

.post-list .list-item:hover img{
    transform: scale(1.5);
}

.post-list .cover{
    width: 100%;
    height: 100%;
}

.post-list .cover img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease-in-out;
}

.post-list .post{
    width: 70%;
    height: 50%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: #FFFFFF99;
}

.post-list .post *{
    background-color: #00000000;
    color: white;
    text-shadow: 2px 2px 5px #3d3d3d;
}

.post-list .post .title{
    font-size: 2rem;
    font-weight: bold;
}

 .nav{
     top: 0;
     width: 100%;
     background-color: #00000000;
  }

  .nav-item{
      overflow: hidden;
      margin: 0 1%;
      padding: 0;
  }

  .nav-button{
      display: table-cell;
      float: right;
      line-height: 50px;
      height: 50px;
      padding: 0 1rem;
      transition: color 0.3s linear, background-color 0.3s linear;
      background-color: #00000000;
  }

  .nav-button a{
      text-decoration: none;
      background-color: #00000000;
      color: gray;
  }

  .nav-button:first-child{
      font-weight: bold;
      float: left;
  }

  .nav-button:first-child a{
      color: black;
  }

  footer{
      color: gray;
      font-size: 0.8rem;
  }

  .title-cover{
      position: relative;
      color: white;
      text-shadow: 2px 2px 5px #3d3d3d;
      min-height: 300px;
  }

  .title-cover *{
      background-color: #00000000;
  }

  .title-cover img{
      width: 100%;
      max-height: 300px;
      object-fit: cover;
      object-position: 0 0;
  }

  .title-cover .text{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
  }

  .post-container{
      width: 100%;
      min-height: 100px;
  }

  .post-body{
      text-align: justify;
      margin: 10px;
      width: 85%;
  }

  .post-author{
      float: right;
      margin-right: 10px;
  }

  a:hover{
      text-decoration: underline;
  }

  .post-author *{
      margin-bottom: 3px;
      text-decoration: none;
      color: gray;
  }

  .user-info{
      width: 100%;
      text-align: center;
  }

  .user-info *{
      margin: 10px;
  }

  .user-info img{
      display: block;
      margin-right: auto;
      margin-left: auto;
      border-radius: 50%;
      width: 10%;
      object-fit: cover;
      border: 1px solid black;
  }

.comment-container{
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 20px;
    border-bottom: 1px solid #afafaf;
    margin-bottom: 20px;
    padding: 0 20px 20px;
}
.comment-container:last-child{
    border-bottom: 0;
    margin-bottom: 0;
}
  .comment-container a{
      text-decoration: none;
      color: black;
  }
  .comment-user{
      width: 7%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-right: 5px;
      box-sizing: border-box;
  }
  .comment-container img{
      width: 100%;
      border-radius: 50%;
      border: 1px black solid;
      margin-bottom: 20px;
  }
  .comment-container .comment-body{
      width: 92%;
      padding: 0 20px;
      box-sizing: border-box;
  }
  .comment-body .timestamp{
      margin-bottom: 20px;
      color: #1a1a1a;
  }
  .comment-body .user-name{
      font-weight: bold;
      margin-bottom: 20px;
  }
  .comment-body .user-name:hover{
      cursor: pointer;
      text-decoration: underline;
  }
  .comment-form{
      margin: 10px;
  }
  .comment-form input{
      padding: 10px;
      font-size: 1rem;
      border: 1px solid #afafaf;
      border-radius: 5px;
  }
  .comment-form input[type='text']{
      width: 20%;
  }
  .comment-form input[type='submit']{
      color: #afafaf;
      transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  }
  .comment-form input[type='submit']:hover{
      cursor: pointer;
      background-color: #afafaf;
      color: white;
  }