<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ category.name }} Posts - Expressions</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'blogcms/style.css' %}">
</head>
<body>
    <header class="nav">
            <ul class="nav-item">
                <li class="nav-button">
                    <a href="{% url 'cms:index'%}">Expressions</a>
                </li>
                {% if not request.user.is_authenticated %}
                    <li class="nav-button">
                        <a href="{% url 'cms:signup' %}">Sign Up</a>
                    </li>
                    <li class="nav-button">
                        <a href="/accounts/login/?next=/">Login</a>
                    </li>
                {% else %}
                    <li class="nav-button">
                        <a href="/accounts/logout/?next=/">Logout</a>
                    </li>
                    {% if request.user.is_superuser %}
                        <li class="nav-button">
                            <a href="/accounts/">Admin</a>
                        </li>
                        <li class="nav-button">
                            <a href="/accounts/">Stats</a>
                        </li>
                    {% endif %}
                {% endif %}
                {% for post in post_list %}
                    {% if post.menu_item != -1 %}
                        <li class="nav-button">
                            <a href="{% url 'cms:post' post.id %}">{{ post.title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
    </header>
    <h2>{{ category.name }} Posts</h2>
    {% if not category.post_set.all %}
        <div class="warning">
            <img src="{%  static 'blogcms/img/nopost.png' %}">
            </br>No Posts
        </div>
    {% else %}
        <div class="post-list">
            {% for post in category.post_set.all %}
                {% if post.status %}
                    <div class="list-item">
                        {% for image in post.image_set.all %}
                            {%  if image.cover %}
                                <div class="cover">
                                    <img src='{{ image.img.url }}'>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <a href="{% url 'cms:post' post.id %}">
                            <div class="post">
                                <p class="title">{{ post.title }}</p>
                                <p class="excerpt">{{ post.excerpt }}</p>
                            </div>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    <footer>
        <hr>
        &copy; {% now 'Y' %} Expressions
    </footer>
</body>
</html>